# Large/irrelevant assets
*.mp4
*.pdf
*.pptx
*.zip
*.7z
*.rar
*.tar
*.tar.gz
Files.rar
Files/**/StorageFiles/*.csv
*.parquet
config/github.env
*.txt
.logs/

# OS/editor noise
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log


